@charset "UTF-8";

main {
	height: 600px;
	width: 1200px;
	margin: 0 auto;
	border: 1px solid blue; display : flex;
	justify-content: space-around;
	align-items: center;
	display: flex;
	font-size: 40px;
}

#date {
	color: blue;
}

#time {
	color: green;
}